body{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.top{
    width: 1440px;
    background-color: #F1C953;
    height: 515px;
    margin-top: 150px;
}

main{
    margin-top: 154px;
    flex: 1;
}

.text_center{
    margin-left: 40px;
    margin-right: 40px;
   
}

.text_zentriert{
    text-align: center;
}