* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  width: 100%;
  margin: 0;
  padding: 0;
}
.main_content{
  padding: 0;
  margin: 0;
  align-items: center;
  width: 100dvw;
  
}
.slider{
  margin-top: 50px;
}

.top_img{
  z-index: 1;
  object-fit: none;
  object-position: left;
  /* background-image: url(../img/header_photo1.png); */
  height: 515px;
  width: 1440px;

}

/* main {
  width: 1200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 158px;


} */
.main {
  width: 100%;
  
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 120px;


}

.top {
  display: flex;
  width: 100%;

  height: 515px;
  margin-top: 128px;
  padding: 0px 12px;
  
}
.top img{
  width: 1440px;
  aspect-ratio: 16/9;
}
header{
    display: flex;
    background-color: #4EA487;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    max-width: 100%;
    height: 128px;
    z-index: 1000;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4EA487;
    color: white;
    font-size: 16px;
    width: 100dvw;
    height: 152px;
    bottom: 0;
    left: 0;
    right: 0;
}
.nav_style{
    display: flex;
    justify-content: baseline;
    align-items: center;
    padding-top: 28px;
    max-width: 1440px;
    padding-left: 120px;
}
ul{
  padding: 0;
}

.text_center {
  margin-left: 40px;
  margin-right: 40px;
}

.text_zentriert {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.zentriert{
  text-align: center;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1440px) {

  .main_content{
    padding: 0px max(12px, calc(50% - 720px));
  }
  #header-placeholder{
    padding: 0px max(12px, calc(50% - 720px));
  }
  #footer-placeholder{
    padding: 0px max(12px, calc(50% - 720px));
  }
 
}
@media screen and (min-width: 1280px){

}
@media screen and (min-width: 768px) and (max-width: 1280px){
  .main{
    padding: 0px 60px;
  }

}
@media screen and (min-width: 484px) and (max-width: 767px){
  .main_content{
    padding: 0px 10px;
    width: 100dvw;
  }
  .main{
    padding: 0px 20px;
  }
  nav{
    display: none;
  }
 
}
@media screen and (min-width: 4px) and (max-width: 479px){
  .main_content{
    padding: 0px ;
    width: 100dvw;
  }
  .main{
    padding: 0px 20px;
  }
   #faq{
    width: 100vw;
  }
  nav{
    display: none;
  }
}