* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;

}

.top {
  width: 1440px;
  background-color: #f1c953;
  height: 515px;
  margin-top: 128px;
}

main {
  width: 1200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 158px;


}

.text_center {
  margin-left: 40px;
  margin-right: 40px;
}

.text_zentriert {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.zentriert{
  text-align: center;
  justify-content: center;
  align-items: center;
}