body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  width: 99%;
  margin: 0;
  padding: 0;
}

.pat_tour_text {
    display: flex;
    justify-content: center;
}

.rain_periods {
    width: 640px;
    border-radius: 53px;
    box-shadow: -2px 4px 11.6px rgba(0, 0, 0, 25%);
    margin-bottom: 88px;
}

.price_beach {
    display: flex;
    justify-content: center;
    margin-top: 88px;
    padding: 0 16px;
}

.pattaya_pic {
    width: 519px;
    margin-top: 16px;
    border-radius: 53px;
    box-shadow: -2px 4px 11.6px rgba(0, 0, 0, 25%);
}

.diagr_beach {
    align-items: center;
    margin-right: 80px;
}

.pat_text {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 315px) and (max-width: 1280px) {
    
    .price_beach {
        display: flex;
        flex-direction: column;
    }

    .diagr_price {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .diagr_beach {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;
        margin-right: 0;
    }
}

@media screen and (min-width: 380px) and (max-width: 840px) {

    .rain_periods {
        width: 345px;
        margin-bottom: 16px;
        border-radius: 30px;
    }

    .price_beach {
        margin-top: 16px;
    }

    .pattaya_pic {
        width: 343px;
        border-radius: 30px;
    }
}

@media screen and (min-width: 4px) and (max-width: 380px) {

    .rain_periods {
        width: 255px;
        margin-bottom: 16px;
        border-radius: 15px;
    }

    .price_beach {
        margin-top: 16px;
    }

    .pattaya_pic {
        width: 255px;
        border-radius: 15px;
    }
}