

.navlink:hover {
    color: black;
}

.navimage{
    height: 72px;
    width: 72px;
    margin-right: 30px;
}


.navlink {
    
    color: white;
    text-decoration: none;
    margin-left: 72px;
    font-size: 22px;
}
.nav_style{
    display: flex;
    align-items: center;
    text-align: left;
    padding-top: 28px;
    padding-left: 12px;
    max-width: 100%;
    
}
.nav_big{

}
.nav_smal{
    display: flex;
    align-items: center;
    padding: 24px 25px;
    width: 90%;
}
.nav_smal img{
    height: 40px;
    width: 40px;
    
}
.smal1{
    display: flex;
    justify-content: space-between;
    width: 99%;
}

.footer-center{
    bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 120px;
    height: 160px;
    width: 99%;
}
.footer-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 510px;
    
    }
.left1{
    display: flex;
    align-items: center;
    padding-right: 58px;
    width: 217px;
}
.left1 h6{
    font-size: 16px;
}
.left2{
    width: 293px;
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
}
.footer-right{
    display: flex;
    justify-content: center;
    align-items: center;

    }

.navlink-foot {
    
    color: white;
    text-decoration: none;
    padding-left: 24px;
    padding-right: 12px;
    font-size: 16px;
    font-weight: 400;
}

.navlink-foot:hover {
    color: black;
}

.footer-social-icon{
    height: 32px;
    width: 32px;
    margin-right: 16px;
}

.footer-youtube-icon{
    height: 32px;
    width: 44px;
    margin-right: 16px;
}