.content-ocean {
  padding-top: 80px;
  display: flex;
  align-items: center;
}

.content-ocean-container-textcontent {
  width: 902px;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 16px;
}
.content-ocean-container {
  display: flex;
  flex-direction: column;
}
.content-ocean-container-textcontent h3 {
  font-family: "Palanquin", sans-serif;
  font-size: 40px;
  color: #4ea487;
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0%;
}
.content-ocean-container-textcontent h1 {
  font-family: "Arima", sans-serif;
  font-size: 64px;
  font-weight: bold;
  color: #f1c953;
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
}
#content-ocean-description {
  width: 902px;
  font-family: "Palanquin", sans-serif;
  font-size: 32px;
  color: #54370d;
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  padding-bottom: 32px;
}

.read-counter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
}
#calender-icon {
  width: 16px;
  height: 18px;
  color: #4ea487;
}
#calender-icon p {
  font-family: "Palanquin", sans-serif;
  font-size: 16px;
  color: #54370d;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  gap: 6px;
}
#eyeglasses-icon {
  width: 20px;
  height: 14px;
  color: #4ea487;
}
#read-counter p {
  font-family: "Palanquin", sans-serif;
  font-size: 16px;
  color: #54370d;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  gap: 6px;
}
#visibility-icon {
  width: 20px;
  height: 14px;
  color: #4ea487;
}
#visibility-icon p {
  font-family: "Palanquin", sans-serif;
  font-size: 16px;
  color: #54370d;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  gap: 6px;
}
#share-icon {
  width: 16px;
  height: 18px;
  color: #4ea487;
}
#share-icon p {
  font-family: "Palanquin", sans-serif;
  font-size: 16px;
  color: #54370d;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  gap: 6px;
}

.photo-ocean {
  width: 272px;
  height: 389px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #4ea48733;
  border-radius: 30px;
  align-items: center;
  background-size: cover;
  padding-top: 16px;
}

.photo-ocean-profile {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 55px;
  display: flex;
  gap: 12px;
}
.photo-ocean-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}
.photo-ocean-profile-textcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#photo-ocean-profile-name {
  font-family: "Arima", sans-serif;
  font-size: 18px;
  color: #54370d;
  font-weight: bold;
  margin-block-start: 0px;
  margin-block-end: 0px;
  line-height: 120%;
  letter-spacing: 0%;
  gap: 6px;
}
#photo-ocean-profile-title {
  font-family: "Arima", sans-serif;
  font-size: 18px;
  color: #54370d;
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
}
#photo-ocean-profile-description {
  font-family: "Palanquin", sans-serif;
  align-items: center;
  font-weight: 400;
  font-size: 16px;

  color: #54370d;
  text-align: start;
  margin-block-start: 0px;
  margin-block-end: 0px;
  line-height: 120%;
  letter-spacing: 0%;
}

.content-beaches-photos {
  z-index: 1;
  width: 1100px;
  height: 538px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;

}
.text-beaches-photos {
  font-family: "Arima", sans-serif;
  font-size: 32px;
  color: #54370D;
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0%;
  align-items: center;
}
.photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.slider-photos {
  width: 300px;
  height: 440px;
  background-color: aqua;
  display: flex;
  box-shadow:
    0 4px 3px rgba(3, 7, 18, 0.03),
    0px 14px 11px rgba(3, 7, 18, 0.05),
    0px 32px 24px rgba(3, 7, 18, 0.08);

  transform: perspective(250px) rotatey(20deg) translateX(-20px);
  transform-origin: 50% 50%;
  transition: all 1s ease-in-out;
  border-radius: 16px;
}

.slider-photos:hover {
  z-index: 2;
  transform: perspective(250px) rotatey(0deg) translateX(0px) scaleX(1.5)
    scaleY(1.2);
}

.slider-photos:hover ~ .slider-photos {
  transform: perspective(250px) rotatey(-20deg) translateX(20px);
}

.photo-1 {
  background-image: url("../img/photo-1.jpg");
  background-size: cover;
}
.photo-2 {
  background-image: url("../img/photo-2.jpg");
  background-size: cover;
}
.photo-3 {
  background-image: url("../img/photo-3.jpg");
  background-size: cover;
}
.photo-4 {
  background-image: url("../img/photo-4.jpg");
  background-size: cover;
}
.photo-5 {
  background-image: url("../img/photo-5.jpg");
  background-size: cover;
}
