* {
  box-sizing: border-box;
  margin: 0;
}
.content-ocean {
  width: 1200px;
  height: 391px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-ocean-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  width: 902px;
  height: 391px;
}

.content-ocean-container h3 {
  font-family: "Palanquin", sans-serif;
  font-size: 40px;
  color: #4ea487;
    margin-block-start: 0px;
  margin-block-end: 0px;
}
.content-ocean-container h1 {
  font-family: "Arima", sans-serif;
  font-size: 64px;
  font-weight: bold;
  color: #f1c953;
    margin-block-start: 0px;
  margin-block-end: 0px;
}
.content-ocean-container p {
  font-family: "Palanquin", sans-serif;
  font-size: 32px;
  color: #54370d;
    margin-block-start: 0px;
  margin-block-end: 0px;
}
.photo-ocean {
  display: flex;
  justify-content: flex-start;
  width: 272px;
  height: 389px;
  background-image: url("../img/photo-ocean.jpg");
  background-size: cover;
}
.photo-ocean-profile {
  width: 272px;
  height: 391px;
  border-radius: 30px;
  background-color: #4ea48733;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}
.photo-ocean-profile img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 55px;
}
.photo-ocean-profile h4 {
  font-family: "Arima", sans-serif;
  font-size: 18px;
  color: #54370d;
  font-weight: bold;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
#profile-tittel {
  font-family: "Arima", sans-serif;
  font-size: 18px;
  color: #54370d;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
#profile-description {
  width: 240px;
  height: 171px;
  font-family: "Palanquin", sans-serif;
  font-size: 16px;
  color: #54370d;
  text-align: start;
    margin-block-start: 0px;
  margin-block-end: 0px;
}

.content-beaches-photos {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 128px;
}
#text-for-photos {
  font-family: "Arima", sans-serif;
  font-size: 32px;
  padding-bottom: 80px;
}
.photo-page2-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.slider-photos {
  width: 300px;
  height: 440px;
  background-color: aqua;
  display: flex;
  box-shadow:
    0 4px 3px rgba(3, 7, 18, 0.03),
    0px 14px 11px rgba(3, 7, 18, 0.05),
    0px 32px 24px rgba(3, 7, 18, 0.08);

  transform: perspective(250px) rotatey(20deg) translateX(-20px);
  transform-origin: 50% 50%;
  transition: all 250ms ease-in-out;
}

.slider-photos:hover {
  z-index: 2;
  transform: perspective(250px) rotatey(0deg) translateX(0px) scaleX(1.5)
    scaleY(1.2);
}

.slider-photos:hover ~ .slider-photos {
  transform: perspective(250px) rotatey(-20deg) translateX(20px);
}

.photo-1 {
  background-image: url("../img/photo-1.jpg");
  background-size: cover;
}
.photo-2 {
  background-image: url("../img/photo-2.jpg");
  background-size: cover;
}
.photo-3 {
  background-image: url("../img/photo-3.jpg");
  background-size: cover;
}
.photo-4 {
  background-image: url("../img/photo-4.jpg");
  background-size: cover;
}
.photo-5 {
  background-image: url("../img/photo-5.jpg");
  background-size: cover;
}
