.main{
  margin-top: 80px;
}

.mrg_top{
  margin-top: 80px;
  margin-bottom: 80px;
}
.slider_a {
  position: relative;
  background-color: black;

  width: 1200px;
  height: 533px;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  border-top-right-radius: 100px;
  
  margin-bottom: 80px;
}

.slider_a input {
  z-index: 2;
  margin-bottom: 50px;
  margin-left: 10px;
}

.slider_a_wrapper {
  z-index: 1;
  width: 400%;
  height: 100%;
  position: absolute;
  display: flex;
  transition: all 1s ease-in-out;
}

.slider_a_element {
  width: 25%;
  height: 100%;
}
.slider_a img{
  height: 100%;
  width: 100%;
}
/* 
.element_img1 {
  height: 100%;
  width: 100%;
}

.element_img2 {
  height: 100%;
  width: 100%;
}

.element_img3 {
  height: 100%;
  width: 100%;
}

.element_img4 {
  height: 100%;
  width: 100%;
} */

.slider_a input[value="img1"]:checked ~ .slider_a_wrapper {
  transform: translateX(37.5%);
}
.slider_a input[value="img2"]:checked ~ .slider_a_wrapper {
  transform: translateX(12.5%);
}
.slider_a input[value="img3"]:checked ~ .slider_a_wrapper {
  transform: translateX(-12.5%);
}
.slider_a input[value="img4"]:checked ~ .slider_a_wrapper {
  transform: translateX(-37.5%);
}

input[type="radio"] {
  height: 28px;
  width: 28px;
  border-radius: 50%;
}

input[type="radio"]:checked {
  appearance: none;
  -webkit-appearance: none;
  width: 40px;
  height: 28px;
  border: 2px solid #555;
  border-radius: 20px;
  outline: none;
  background-color: white;
  cursor: pointer;
  background-color: #f1c953;
  border-color: #f1c953;
}

.img_hold{
  width: 600px;
  height: 800px;
}

@keyframes rotating {
  0%  { transform: rotate(0);}
  100%{ transform: rotate(1turn);}
}
.img_pos{
  position: relative;
  top: 248px;
  left: 444px;
  height: 160px;
  width: 160px;
  z-index: ;
}
.img_rotate:hover{
  animation: rotating 4s linear infinite;
}