
.slider_zenter{
  height: 638px;
}
.mrg_top{
  margin-top: 80px;
  margin-bottom: 80px;
}
.slider_a {
  position: relative;
  background-color: black;

  width: 99%;
  height: 533px;
  
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  border-top-right-radius: 100px;
  
  
}

.slider_a input {
  z-index: 2;
  margin-bottom: 50px;
  margin-left: 10px;
}

.slider_a_wrapper {
  z-index: 1;
  width: 400%;
  height: 100%;
  position: absolute;
  display: flex;
  transition: all 1s ease-in-out;
}

.slider_a_element {
  width: 25%;
  height: 100%;
  overflow: hidden;
}
.element1{
  background-size: cover;
  background-image: url(../img/slide_01.png);
  background-position: center top;
  background-repeat: no-repeat;
}
.element2{
  background-size: cover;
  background-image: url(../img/slide_02.png);
  background-position: center top;
  background-repeat: no-repeat;
}
.element3{
  background-size: cover;
  background-image: url(../img/slide_03.png);
  background-position: center top;
  background-repeat: no-repeat;
}.element4{
  background-size: cover;
  background-image: url(../img/slide_04.png);
  background-position: center top;
  background-repeat: no-repeat;
}


.slider_a input[value="img1"]:checked ~ .slider_a_wrapper {
  transform: translateX(37.5%);
}
.slider_a input[value="img2"]:checked ~ .slider_a_wrapper {
  transform: translateX(12.5%);
}
.slider_a input[value="img3"]:checked ~ .slider_a_wrapper {
  transform: translateX(-12.5%);
}
.slider_a input[value="img4"]:checked ~ .slider_a_wrapper {
  transform: translateX(-37.5%);
}

input[type="radio"] {
  height: 28px;
  width: 28px;
  border-radius: 50%;
}

input[type="radio"]:checked {
  appearance: none;
  -webkit-appearance: none;
  width: 40px;
  height: 28px;
  border: 2px solid #555;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  background-color: #f1c953;
  border-color: #f1c953;
}

@keyframes rotating {
  0%  { transform: rotate(0);}
  100%{ transform: rotate(1turn);}
}
.img_pos{
  position: relative;
  top: 248px;
  left: 444px;
  height: 160px;
  width: 160px;
  z-index: 3;
}
.img_pos img{
  height: 160px;
  width: 160px;
}
.img_rotate:hover{
  animation: rotating 4s linear infinite;
}
.top_hero{
  position: absolute;
  left: 0;
  ;
  width: 647px;
  height: 540px;
  background-image: url(../img/Vector16.svg);
 
  z-index: 2;
}
.top_font{
  height: 227px;
  width: 345px;
  text-align: left;
  position: absolute;
  left: 104px;
  top: 58px;
}
.top_font h1{
  font-size: 60px;
}
.top_font p{
  font-size: 28px;
}
@media screen and (min-width: 768px) and (max-width: 1280px){

}
@media screen and (min-width: 484px) and (max-width: 767px){


}
@media screen and (min-width: 4px) and (max-width: 479px){
  .img_pos{
    top: 121px;
    left: 71px;
  }
}
@media screen and (min-width: 4px) and (max-width: 1110px) {
  .img_pos{
    top: 121px;
    left: 71px;
  }
  .top_hero{
    width: 220px;
    height: 299px;
    background-image: url(../img/Vector17.png);
  }
  .top_font{
    display: none;
  }
}