.font_h1 {
  font-family: "Arima";
  font-size: 52px;
  font-weight: 700;
  color: #4ea487;
}

.first_headline {
  font-family: "Palanquin";
  font-size: 40px;
  font-weight: 600;
  color: #4ea487;
}

.underheadline {
  font-family: "Arima";
  font-size: 64px;
  font-weight: 700 ;
  color: #f1c953;
}

.first_section_text {
  font-family: "Arima";
  font-size: 28px;
  font-weight: 400;
  color: #54370d;
}

.arima700{
  font-family: 'Arima';
  font-weight: 700;
}

.arima400{
  font-family: 'Arima';
  font-weight: 400;
}
.arima500{
  font-family: 'Arima';
  font-weight: 500;
}
.palanquin700{
  font-family: 'Palanquin';
  font-weight: 700;
}

.palanquin600{
  font-family: 'Palanquin';
  font-weight: 600;
}

.palanquin400{
  font-family: 'Palanquin';
  font-weight: 400;
}
.palanquin500{
  font-family: 'Palanquin';
  font-weight: 500;
}

.index_info{
  font-size: 24px;
  line-height: 1;
  padding: 24px 0;
}
details{
  color: #54370d;
}
.contact_a{
  color: #4ea487;
  text-decoration: none;
  margin: 0 4px;
}
summary {
  list-style: none; 
  display: flex;
  justify-content: space-between; 
  align-items: center;
  text-align: center;
  cursor: pointer;
  width: 100%;
  min-height: 56px;
  border-radius: 12px;
  background-color: #f1c953;
  padding: 16px 14px;
  margin: 16px 12px;
}
details p{
  width: 100%;
  padding-left: 32px;
}
summary::after {
  margin-right: 30px;
  content: '>'; 
  font-size: 24px;
  transition: transform 0.2s;
}
details[open] summary::after {
  transform: rotate(90deg); 
}

@media screen and (min-width: 1280px) and (max-width: 30000px){

}
@media screen and (min-width: 768px) and (max-width: 1280px){
.faq_font{
  font-size: 16px;

}
summary::after{
  font-size: 16px;
}
details[open] p{
  font-size: 12px;
}
.info h2{
  font-size: 24px;
}
.info h3{
  font-size: 20px;
}
}
@media screen and (min-width: 484px) and (max-width: 767px){
.faq_font{
  font-size: 16px;

}
summary::after{
  font-size: 16px;
}
details[open] p{
  font-size: 12px;
}
details p{
  font-size: 12px;
}
.info h2{
  font-size: 24px;
}
.info h3{
  font-size: 20px;
}
.font_h1{
  font-size: 40px;
}
}
@media screen and (min-width: 4px) and (max-width: 483px){
.faq_font{
  font-size: 16px;

}
summary::after{
  font-size: 16px;
}
details[open] p{
  font-size: 12px;
}
.info h2{
  font-size: 24px;
}
.info h3{
  font-size: 20px;
}
}